.profile__edit-button {
    width: 24px;
    height: 24px;
    background: url('../../../images/edit-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFFFFF;
    margin: 10px auto 0px;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 750px) {
    .profile__edit-button {
        margin-left: 15px;
    }
}