.header__logo {
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 750px) {
    .header__logo {
      padding-top: 28px;
      padding-bottom: 28px;
      padding-left: 8px;
      max-width: 103px;
      min-height: 24px;
    }
  }