.profile__info {
    margin-right: 244px;
    display: flex;
    max-width: 336px;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .profile__info {
        margin: 22.25px 0 0;
        justify-content: center;
    }
}